* {

    background-color: #d7adad;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    margin-top: auto;
    padding: 5%;
}
h2{
    color: azure;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
}